.header {
    background: url("../../../public/bg.png") no-repeat;
    background-position: center center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 40px;
    height: 100vh;
}


.header__logo {
    margin-top: 168px;
    margin-bottom: 103px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header_main__title {
    text-align: center;
    text-transform: uppercase;
    font-size: 150px;
    font-weight: 700;
    color: #DB3138;
    line-height: 125%;
}

.header__title {
    text-align: center;
    text-transform: uppercase;
    font-size: 64px;
    font-weight: 700;
    color: #DB3138;
    line-height: 80px;
    max-width: 70%;
}

.header__description {
    width: 50%;
    margin: 40px 0;
    font-size: 40px;
    font-weight: 500;
    line-height: 48px;
    text-align: center;
}